<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"> 
    <title>Gestión de Tareas</title>
</head>
<body>

    <div class="header">
        <a href="index.html" class="logo"></a> 
        <div class="header-right">
            <a href="/logout">Cerrar sesión</a>
        </div>
    </div>
    
    <div class="container">
        <h1>Bienvenidos a TO-DOAS</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        let timeout; 
        const warningTime = 40000; 
        const logoutTime = 60000; 

        function resetTimer() {
            clearTimeout(timeout); 
            timeout = setTimeout(showWarning, warningTime); 
        }

        function showWarning() {
            Swal.fire({
                title: 'Inactividad',
                text: 'Has estado inactivo durante 40 segundos. Se cerrará la sesión en 20 segundos.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Cerrar sesión ahora',
                cancelButtonText: 'Seguir conectado'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/logout'; 
                } else {
                    resetTimer(); 
                }
            });

            
            setTimeout(() => {
                Swal.fire({
                    title: 'Cerrando sesión',
                    text: 'Se ha cerrado la sesión por inactividad.',
                    icon: 'info'
                }).then(() => {
                    window.location.href = '/logout'; 
                });
            }, 20000); 
        }

        
        window.onload = resetTimer; 
        window.onmousemove = resetTimer; 
        window.onkeypress = resetTimer; 
    </script>
    
</body>
</html>
