<!DOCTYPE html>
<html lang="en">
<head>
    <div class="header">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institucion</title>
    <link rel="stylesheet" href="../css/institucion.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     <meta charset="UTF-8"> 
    </div>
</head>

<body >
  <section class="contact-section">
    <div class="contact-container">
         <form class="grid">
          <script></script>
        
            </form>
         <form class="gridd">
            <p>El Colegio Caritas Felices es una institución educativa comprometida con el desarrollo integral de sus estudiantes,
               desde la primera infancia hasta la adolescencia. Fundado con la misión de ofrecer una educación inclusiva, 
               personalizada y de alta calidad, Caritas Felices se destaca por su enfoque en valores como la empatía, la solidaridad y el respeto.
               En Caritas Felices, el aprendizaje va más allá de las aulas; fomenta un ambiente donde cada niño puede descubrir y 
               desarrollar sus talentos, acompañado de una comunidad de docentes apasionados y comprometidos. Las instalaciones modernas, 
               los espacios verdes y las áreas recreativas están diseñados para estimular el aprendizaje y el crecimiento emocional.
              Con programas innovadores, actividades extracurriculares y un equipo pedagógico de excelencia, el Colegio Caritas Felices 
              busca formar ciudadanos responsables y conscientes, preparados para enfrentar los retos de un mundo en constante cambio.
            </p>
        </form> 
    </div>
</section>
</body>

</html>
