<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../css/register.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="title">TO-DOAS</h1>
    </div>

    <form class="grid" id="registroForm">
        <h2>Registro</h2>
        <h3>Ingresa los siguientes datos para el registro</h3>
        <label for="nombre">Nombre</label><br>
        <input type="text" id="nombre" name="nombre" required><br> 
        
        <label for="apellido">Apellido</label><br>
        <input type="text" id="apellido" name="apellido" required><br> 
        
        <label for="telefono">Teléfono</label><br>
        <input type="text" id="telefono" name="telefono"><br> 
        
        <label for="correo">Correo Electrónico</label><br>
        <input type="email" id="correo" name="email" required><br> 
        
        <label for="contraseña">Contraseña</label><br>
        <input type="password" id="contraseña" name="contraseña" required><br> 
        
        <input type="submit" value="Registrarse"><br>
        <label type="text">¿Ya tienes una cuenta? Inicia sesión aquí</label>
    </form>
    
    <div id="mensajeError" class="error-message"></div>

    <script src="../js/registro.js"></script> 
</body>
</html>
