<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Gestión de Tareas</title>
</head>
<body>
    <div class="header">
        <a href="index.html" class="logo"></a>
        <div class="header-right">
            <a href="views/user.html" class="reg">Perfil</a>
            <a href="/logout">Cerrar sesión</a>
            <button class="new_task">Crear Nueva Tarea</button>
        </div>
    </div>
    
    <div class="container">
        <h2>Bienvenidos a TO-DOAS</h2>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Tarea</th>
                        <th>Descripción</th>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Finalización</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tareas-tbody">
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal" id="createTaskModal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>Crear Nueva Tarea</h2>
            <form id="createTaskForm">
                <label for="taskName">Nombre de la Tarea:</label>
                <input type="text" id="taskName" name="taskName" required>

                <label for="taskDescription">Descripción:</label>
                <textarea id="taskDescription" name="taskDescription" required></textarea>

                <label for="dueDate">Fecha de Vencimiento:</label>
                <input type="date" id="dueDate" name="dueDate" required>

                <button type="submit">Crear</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/timer.js"></script>
    <script src="../js/taskList.js"></script>
   

    <script>
        
    </script>
</body>
</html>

